/*@keyframes beat {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.125);
    }

}*/
@import url('./modules/variables/variables.css');
@import url('./modules/animations/animations.css');
@import url('./modules/components/hero.css');
@import url('./modules/components/acrostic.css');
@import url('./modules/layout/container.css');
@import url('./modules/layout/body.css');

/*:root {
    scroll-behavior: smooth;
    --primary-theme-color: crimson;
    --secondary-theme-color: magenta;
    --primary-success-color: lightseagreen;
    --secondary-success-color: aquamarine;
    --primary-warning-color: gold;
    --secondary-warning-color: yellow;
    --primary-info-color: royalblue;
    --secondary-info-color: dodgerblue;
    --tertiary-info-color: cyan;
    --primary-background-color: #16181d;
    --primary-text-color: white;
    --primary-font-family: monospace;
    --max-width: 1024px;
    --element-spacing: 2rem;
    --element-size: 1rem;

}

.body {
    margin: 0;
    background-color: var(--primary-theme-color);
    color: var(--primary-text-color);
    font-family: var(--primary-font-family);
}

.hero {
    min-height: 100vh;
    display: flex;
    background-image: radial-gradient(transparent, var(--primary-theme-color));
}

.hero__title {
    font-size: calc(var(--element-size)*2.5rem);
    animation: beat 1s ease-in-out 0s infinite alternate;
}

/*.hero__acrostic {
    all: unset;
    display: flex;
    gap: 0.5rem;
}*/

/*.hero__name {
    all: unset;
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
}

.hero__letter {
    position: relative;


}

.hero__letter:nth-child(1) {
    color: var(--secondary-success-color);
}

.hero__letter:nth-child(2) {
    color: var(--secondary-info-color);
}

.hero__letter:nth-child(3) {
    color: var(--secondary-warning-color);
}

.hero__letter:nth-child(4) {
    color: var(--secondary-theme-color);
}

.hero__letter:nth-child(5) {
    color: var(--tertiary-info-color);
}

.hero__letter:nth-child(6) {
    color: var(--primary-success-color);
}

.hero__letter::before {
    content: var(--letter);
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1.25);
    filter: calc(var(--element-size)*0.125rem);
}

.hero__letter::after {
    content: var(--letter);
    position: absolute;
    top: 87.5%;
    left: 0;
    transform: rotatex(135deg);
    filter: calc(var(--element-size)*0.25rem);
}

.acrostic {
    padding-top: var(--element-spacing);
    padding-bottom: var(--element-spacing);
    background-image: radial-gradient(transparent, var(--primary-background-color));
}

.acrostic___stanza {
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    gap: 16px;
}

.acrostic__verse {
    font-weight: 700;
    text-shadow: 0 0 0.125rem greenyellow,
        0 0 0.125rem greenyellow;
}

.acrostic__verse::first-letter {
    font-size: 1.5rem;

}

.container {
    /*width: 100%;*/
/*    max-width: 1024px;
    padding-right: 1rem;
    padding-left: 1rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}*/